
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Raleway.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  margin: 0;
  background-color: #27272C;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
}

#navb{
  background-color: white;
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 7px;
  margin-top: 2%;
  text-align: center;

}

#navb a{
  background-color: #27272C;
  color: white;
  padding: 1%;
  margin: 2%;
  border-radius: 7px;
  text-decoration: none;
  width: 15%;
  font-size: 20px;
}

#navb #logo{
  background-color: white; 
  margin: 0;
  padding: 0;
}
#navb #logo img{
  height: 150px;
  width: 150px;
 
}
#mainPage{
  background-color: #27272C;
  font-size: 25px;
  padding: 2%;
  margin:15%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center ;
  font-family: 'Raleway', sans-serif;
  border-radius: 7px;
  text-align: justify;
}

#mainPage p{
  opacity: 1;
  color: white;
}
html{
  height: 100vh;
}

#mainPage button{
  height: 50px;
  width: 250px;
  border-radius: 50px;
  margin-top: 5%; 
  transition: 0.5s;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;

}

#mainPage button:hover{
  color: white;
  background-color: #27272C;
  border-color: white;
  border-width: 2px;
}

#mainPage h1{
  color: white;
  margin-bottom: 2%;
}

.ContainerAv{
  background-color: #27272C;
  padding: 2%;
  color: white;
  font-family: 'Raleway', sans-serif;
  margin: 5%;
  border-radius: 7px;
}

.ContainerAv p{
  margin-top: 2%;
  font-size: 22px;
}

#footerContainer{
  background-color: #27272C;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
  color: white;
}

@media screen and (max-width: 725px) {
  #navb {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #navb a {
    width: 90%;
    margin: 3px;
  }
}

.ContainerAv hr{
  margin-top: 2%;
  margin-bottom: 2%;
}

.lasFrutis{
  height: 170px;
  width: 170px;
}

.socialMedia{
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
}

.socialMedia img{
  height: 50px;
  width: 50px;
}